# R objects
- Vectors
- Lists
- Matrices
- Arrays
- Factors
- Data Frames

## Vectors

Types of atomic vectors: logical, integer, double, complex, character and raw.

In [1]:
# Atomic vector of type character.
print("abc");

# Atomic vector of type double.
print(12.5)

# Atomic vector of type integer.
print(63L)

# Atomic vector of type logical.
print(TRUE)

# Atomic vector of type complex.
print(2+3i)

# Atomic vector of type raw.
print(charToRaw('hello'))

[1] "abc"
[1] 12.5
[1] 63
[1] TRUE
[1] 2+3i
[1] 68 65 6c 6c 6f

When you want to create vector with more than one element, you should use c() function which means to combine the elements into a vector.

In [4]:
# Creating vector example 1
deuses  <- c ('apolo', 'juno', 'jupiter')
print (deuses)
print (class(deuses))

[1] "apolo"   "juno"    "jupiter"
[1] "character"

In [7]:
# Creating vector example 2
deuses  <- c ( 6, 5i)
print (deuses)
print (class(deuses))

[1] 6+0i 0+5i
[1] "complex"

## Lists
Can contain many different types of elements inside it like vectors, functions and even another list inside it.

In [11]:
# Example of list
list1  <- list(c(6,2,9),6+1i,list(0,7),sin)
print (list1)

[[1]]
[1] 6 2 9

[[2]]
[1] 6+1i

[[3]]
[[3]][[1]]
[1] 0

[[3]][[2]]
[1] 7


[[4]]
function (x)  .Primitive("sin")

## Matrix
- Two-dimensional rectangular data set. 
- It can be created using a vector input to the matrix function.

### **By row TRUE or FALSE values**

**TRUE** - by default the matrix will be filled *row by row*

**FALSE** - by default the matrix will be filled *column by column*

In [16]:
# Example filled row by row
M = matrix( c('a','a','b','c','b','a'), nrow = 2, ncol = 3, byrow = TRUE)
print(M)

     [,1] [,2] [,3]
[1,] "a"  "a"  "b"
[2,] "c"  "b"  "a"

In [15]:
# Example filled column by column
M = matrix( c('a','a','b','c','b','a'), nrow = 2, ncol = 3, byrow = FALSE)
print(M)

     [,1] [,2] [,3]
[1,] "a"  "b"  "b"
[2,] "a"  "c"  "a"

In [ ]:
## Arrays
HOMEWORK!!!!!

In [ ]:
# In the below example we create an array with two elements which are 3x3 matrices each

## Factors 
- Create a vector
- Create a factor object
- Print the factor

In [20]:
# Example
cores  <- c ('azul', 'roxo', 'roxo', 'rosa','azul','rosa')
factor_cores  <- factor (cores)
print (factor_cores)
print (nlevels(factor_cores))

[1] azul roxo roxo rosa azul rosa
Levels: azul rosa roxo
[1] 3

## Data frames
Can contain different modes of data

In [28]:
DF <- data.frame (
    flores = c ('jacinto', 'jasmim', 'peonia'),
    cores = c ('roxo', 'branco', 'rosa'),
    associação = c ('apollo', 'alladin', 'XIX'))
print (DF)

   flores  cores associação
1 jacinto   roxo     apollo
2  jasmim branco    alladin
3  peonia   rosa        XIX

In [25]:
print(ls())

[1] "DF"           "M"            "cores"        "deuses"       "factor_cores"
[6] "list1"

In [26]:
rm (DF)

In [29]:
print(ls())

[1] "DF"           "M"            "cores"        "deuses"       "factor_cores"
[6] "list1"